[submodule "cloudify/fos-scale/plugins/cloudify-fortimanager-plugin"]
	path = cloudify/fos-scale/plugins/cloudify-fortimanager-plugin
	url = git@github.com:fortinet-solutions-cse/cloudify-fortimanager-plugin.git
