{
    "username": "$OS_USERNAME",
    "password": "$OS_PASSWORD",
    "project_name": "$OS_PROJECT_NAME",
    "auth_url": "$OS_AUTH_URL",
    "region": "$OS_REGION_NAME",
    "user_domain_name": "$OS_USER_DOMAIN_NAME",
    "project_domain_name": "$OS_PROJECT_DOMAIN_NAME",
    "custom_configuration": ""
}
